
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


#modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

#modal-content {
    background-color: white;
    padding: 20px; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 500px; 
    text-align: center;
}

#modal-content h1 {
    margin: 0;
    color: inherit;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
}


#loan-form {
    background-color: #ffffff; 
    color: #333333; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px; 
    text-align: left; 
    font-family: 'Arial', sans-serif; 

#loan-form h1 {
    color: #0d153a;
    font-weight: 700;
    font-size: 1.2em; 
    margin-bottom: 15px; 
}

label {
    display: block; 
    margin-top: 10px; 
    margin-bottom: 5px;
    font-weight: bold; 
    color: #0d153a; 
}

input, select {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px; 
    box-sizing: border-box;
    margin-bottom: 10px; 
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px; 
}

#submit-loan-btn {
    margin-top: 15px; 
    border: none;
    font-size: 14px; 
    padding: 8px 15px; 
    border-radius: 5px;
    background-color: #228B22; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-loan-btn:hover {
    background-color: #006400; 
}

.disabled {
    background-color: #b3b3b3 !important; 
    cursor: not-allowed; 
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid #0d153a; 
    margin: 10px 0; 
}

#check {
    margin-top: 10px; 
}

body {
    color: #4a4a4a; 
}

h1, h2, h3, h4, h5, h6 {
    color: #333333; 
}

label {
    color: #4a4a4a; 
}

input, select {
    color: #333333; 
}
}